#store {
	background: #c5e8fa url(http://www.storenvy.com/images/bgs/linen-tiled.png?1340933447) 0 0 repeat;
	border: 1px solid #B3C7D0;
	border-radius: 6px;
	font-family: "Helvetica", "Arial", sans-serif;
	height: 600px;
	width: 480px;

	.header {
		background: #f3f6eb url(http://www.storenvy.com/images/browse/br_header_bg.png?1340933447) 0 0 repeat-x;
		border-radius: 6px 6px 0 0 ;
		color: #7a7a7a;
		margin: 0;
		overflow: hidden;
		padding: 0.8em;
		position: fixed;
		text-shadow: 1px 1px 0 rgba(255,255,255,0.9);

		img.avatar {
			border: 1px solid #7a7a7a;
			float: left;
			height: 40px;
			margin: 0 0.8em 0 0;
			width: 40px;
		}

		span {
			line-height: 42px;
		}

		.store-link {
			background: #85AAC0;
			border-radius: 5px;
			color: #fff;
			float: right;
			font-size: 0.6em;
			line-height: 1em;
			padding: 0.3em 0.6em;
			text-decoration: none;
			text-shadow: none;
			text-transform: uppercase;

			&:hover {
				background: #17A7EA;
			}

			&:active {
				background: #0081CB;
			}
		}
	}

	#product-gallery {
		-webkit-box-shadow: inset 2px 2px 8px rgba(112, 125, 131, 0.3);
		border-radius: 0 0 5px 5px;
		box-shadow: inset 2px 2px 6px rgba(112, 125, 131, 0.3);
		height: 528px;
		margin: 0;
		overflow: scroll;
		padding: 0;
		padding-right: 4.75%;

		& > li.product {
			float: left;
			height: 207px;
			list-style: none;
			margin: 0 0 4.75% 4.75%;
			-webkit-perspective: 800px;
			-moz-perspective: 800px;
			perspective: 800px;
			position: relative;
			width: 207px;

			&:nth-child(even) {
			}

			&:hover {
				& .back, & .front {
					transform-style: preserve-3d;
					transition: all .6s ease-in-out;
				}
				& .back {
					z-index: 600;
					-webkit-transform: rotateY(0deg);
					-moz-transform: rotateY(0deg);
					-o-transform: rotateY(0deg);
					-ms-transform: rotateY(0deg);
					transform: rotateY(0deg);
				}
				& .front {
					z-index: 500;
					-webkit-transform: rotateY(180deg);
					-moz-transform: rotateY(180deg);
					-o-transform: rotateY(180deg);
					-ms-transform: rotateY(180deg);
					transform: rotateY(180deg);
				}
			}
		
			img	{
				max-width: 100%;
			}

			.back, .front {
				backface-visibility: hidden;
				height: inherit;
				left: 0;
				margin-bottom: 1em;
				position: absolute;
				text-align: center;
				top: 0;
				transform-style: preserve-3d;
				transition: all .6s ease-in-out;
				width: inherit;

				.price {
					background: rgba(0,0,0,0.6);
					color: white;
					font-size: 16px;
					font-weight: bold;
					left: 1em;
					padding: 0.4em 0.8em;
					position: absolute;
					text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
					top: 0;
				}
			}

			.front {
				z-index: 600;
				-webkit-transform: rotateY(0deg);
				-moz-transform: rotateY(0deg);
				-o-transform: rotateY(0deg);
				-ms-transform: rotateY(0deg);
				transform: rotateY(0deg);
			}

			.back {
				background: #444 url(http://www.storenvy.com/images/popup-shop/crosshatch-bg.png?1340933447) 0 0 no-repeat;
				color: #ededed;
				font-size: 18px;
				text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
				-webkit-transform: rotateY(-180deg);
				-moz-transform: rotateY(-180deg);
				-o-transform: rotateY(-180deg);
				-ms-transform: rotateY(-180deg);
				transform: rotateY(-180deg);
				z-index: 500;

				.details {
					margin: 2em auto 0;
					width: 90%;

					p {
						color: #A3A3A3;
						margin: 0.2em;
					}
				}
			}
		}
	}

	.add-to-cart-form {
		bottom: 1em;
		position: absolute;
		width: 100%;
	}

	.add-to-cart-button {
		background-color: #086699;
		background-image: -webkit-linear-gradient(top, #26C6FC, #1C97CD);
		background-image: -moz-linear-gradient(top, #26C6FC, #1C97CD);
		background-image: -o-linear-gradient(top, #26C6FC, #1C97CD);
		background-image: -ms-linear-gradient(top, #26C6FC, #1C97CD);
		background-image: linear-gradient(top, #26C6FC, #1C97CD);
		border-radius: 6px;
		border: 1px solid rgba(0,100, 200, 0.6);
		color: white;
		cursor: pointer;
		font-size: 12px;
		font-weight: bold;
		padding: 0.4em 0.8em;
		text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
		text-transform: uppercase;
		&:hover {
			background-image: -webkit-linear-gradient(top, #1C97CD, #086699);
			background-image: -moz-linear-gradient(top, #1C97CD, #086699);
			background-image: -o-linear-gradient(top, #1C97CD, #086699);
			background-image: -ms-linear-gradient(top, #1C97CD, #086699);
			background-image: linear-gradient(top, #1C97CD, #086699);
		}
		&:active {
			background-image: -webkit-linear-gradient(top, #086699, #065078);
			background-image: -moz-linear-gradient(top, #086699, #065078);
			background-image: -o-linear-gradient(top, #086699, #065078);
			background-image: -ms-linear-gradient(top, #086699, #065078);
			background-image: linear-gradient(top, #086699, #065078);
		}
	}
}