#store {
  background: #c5e8fa url(http://www.storenvy.com/images/bgs/linen-tiled.png) 0 0 repeat;
  border: 1px solid #B3C7D0;
  border-radius: 6px;
  font-family: "Helvetica", "Arial", sans-serif;
  height: 600px;
  width: 480px; }
  #store .header {
    background: #f3f6eb url(http://www.storenvy.com/images/browse/br_header_bg.png) 0 0 repeat-x;
    border-radius: 6px 6px 0 0;
    color: #7a7a7a;
    margin: 0;
    overflow: hidden;
    padding: 0.8em;
    position: fixed;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9); }
    #store .header img.avatar {
      border: 1px solid #7a7a7a;
      float: left;
      height: 40px;
      margin: 0 0.8em 0 0;
      width: 40px; }
    #store .header span {
      line-height: 42px; }
    #store .header .store-link {
      background: #85AAC0;
      border-radius: 5px;
      color: #fff;
      float: right;
      font-size: 0.6em;
      line-height: 1em;
      padding: 0.3em 0.6em;
      text-decoration: none;
      text-shadow: none;
      text-transform: uppercase; }
      #store .header .store-link:hover {
        background: #17A7EA; }
      #store .header .store-link:active {
        background: #0081CB; }
  #store #product-gallery {
    -webkit-box-shadow: inset 2px 2px 8px rgba(112, 125, 131, 0.3);
    border-radius: 0 0 5px 5px;
    box-shadow: inset 2px 2px 6px rgba(112, 125, 131, 0.3);
    height: 528px;
    margin: 0;
    overflow: scroll;
    padding: 0;
    padding-right: 4.75%; }
    #store #product-gallery > li.product {
      float: left;
      height: 207px;
      list-style: none;
      margin: 0 0 4.75% 4.75%;
      -webkit-perspective: 800px;
      -moz-perspective: 800px;
      perspective: 800px;
      position: relative;
      width: 207px; }
      #store #product-gallery > li.product:hover .back, #store #product-gallery > li.product:hover .front {
        transform-style: preserve-3d;
        transition: all .6s ease-in-out; }
      #store #product-gallery > li.product:hover .back {
        z-index: 600;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg); }
      #store #product-gallery > li.product:hover .front {
        z-index: 500;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg); }
      #store #product-gallery > li.product img {
        max-width: 100%; }
      #store #product-gallery > li.product .back, #store #product-gallery > li.product .front {
        backface-visibility: hidden;
        height: inherit;
        left: 0;
        margin-bottom: 1em;
        position: absolute;
        text-align: center;
        top: 0;
        transform-style: preserve-3d;
        transition: all .6s ease-in-out;
        width: inherit; }
        #store #product-gallery > li.product .back .price, #store #product-gallery > li.product .front .price {
          background: rgba(0, 0, 0, 0.6);
          color: white;
          font-size: 16px;
          font-weight: bold;
          left: 1em;
          padding: 0.4em 0.8em;
          position: absolute;
          text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
          top: 0; }
      #store #product-gallery > li.product .front {
        z-index: 600;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg); }
      #store #product-gallery > li.product .back {
        background: #444444 url(http://www.storenvy.com/images/popup-shop/crosshatch-bg.png) 0 0 no-repeat;
        color: #ededed;
        font-size: 18px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        z-index: 500; }
        #store #product-gallery > li.product .back .details {
          margin: 2em auto 0;
          width: 90%; }
          #store #product-gallery > li.product .back .details p {
            color: #A3A3A3;
            margin: 0.2em; }
  #store .add-to-cart-form {
    bottom: 1em;
    position: absolute;
    width: 100%; }
  #store .add-to-cart-button {
    background-color: #086699;
    background-image: -webkit-linear-gradient(top, #26c6fc, #1c97cd);
    background-image: -moz-linear-gradient(top, #26c6fc, #1c97cd);
    background-image: -o-linear-gradient(top, #26c6fc, #1c97cd);
    background-image: -ms-linear-gradient(top, #26c6fc, #1c97cd);
    background-image: linear-gradient(top, #26c6fc, #1c97cd);
    border-radius: 6px;
    border: 1px solid rgba(0, 100, 200, 0.6);
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 0.4em 0.8em;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase; }
    #store .add-to-cart-button:hover {
      background-image: -webkit-linear-gradient(top, #1c97cd, #086699);
      background-image: -moz-linear-gradient(top, #1c97cd, #086699);
      background-image: -o-linear-gradient(top, #1c97cd, #086699);
      background-image: -ms-linear-gradient(top, #1c97cd, #086699);
      background-image: linear-gradient(top, #1c97cd, #086699); }
    #store .add-to-cart-button:active {
      background-image: -webkit-linear-gradient(top, #086699, #065078);
      background-image: -moz-linear-gradient(top, #086699, #065078);
      background-image: -o-linear-gradient(top, #086699, #065078);
      background-image: -ms-linear-gradient(top, #086699, #065078);
      background-image: linear-gradient(top, #086699, #065078); }
